* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f9fafb;
  color: #333;
}

.header {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header h1 {
  color: #0077b6;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.nav-links a:hover {
  color: #0077b6;
}


.hero {
  background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1600&q=90') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h2 {
  font-size: 2.8em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
}

.destinations {
  text-align: center;
  padding: 60px 30px;
}

.destinations h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #0077b6;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding-bottom: 15px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin-top: 10px;
  color: #0077b6;
}

.card p {
  font-size: 0.95em;
  padding: 0 10px;
  color: #555;
}

.btn {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #023e8a;
  scale: 1.05;
}

.contact {
  margin-top: 40px;
  padding: 10px 20px;
}

.footer {
  text-align: center;
  background-color: #0077b6;
  color: white;
  padding: 15px;
  margin-top: 50px;
}

div.card:hover{
    transform: scale(1.05);
    transition: 0.1s;
}

